*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: rgb(12, 109, 109);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
#container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 0;
    align-items: center;
    max-height: 500px;
    max-width: 600px;
    background-color: rgb(110, 104, 104);
    
}

.grid{
    height: 30px;
    width: 30px;
    flex-shrink: 1;
    display: inline-block;
    background: white;
    /*border: 1px solid black;*/
}
.hovered{
    background-color: rgb(238, 220, 220);
    opacity: 1;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;

}
#create{
    font-family: system-ui, sans-serif;
    font-size: 3.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
}